<h3>Edit Volunteer</h3>

<form action="./" method="post">
<label for="title">Edit Volunteer Name:</label>
<input name="name" type="text" value="<%=@volunteer.name%>">
<button type="submit">Update Volunteer</button>
</form>