
<h3>Create a New Project: </h3>


  <form action="/projects" method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input name="title" id="title"  class="form-control" type="text">
      <button type="submit" class="btn btn-info">Create</button>
    </div>
  </form>


<% if @projects.any?() %>
    <h3>Current projects:</h3>

    <% @projects.each do |project| %>
        <h3><a href="/projects/<%= project.id() %>"><%= project.title %></a></h3>
    <% end %>

<% else %>
    <p>There are no projects to display.</p>
<% end %>